@using ConvertJS.DTOs.ResponseDTO
@using ConvertJS.Infras.Constants
@using Newtonsoft.Json
@model List<AdSpyPostDTO>
@{
    ViewData["Title"] = "Account Manager";
    Layout = "_Layout";
    var AdsList = new List<AdSpyPostDTO>();
    var value = "";
    if (Model != null)
    {
        AdsList = Model;
        if (AdsList.Count != 0) value = AdsList.FirstOrDefault().keyword;
    }
    var numberPostOnRow = 3;
    Random rnd = new Random();
}
@section CustomCss{
    <link href="~/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css">
    <link href="~/css/custom/CustomAdSpy.css?@(rnd.Next())" rel="stylesheet" type="text/css">
}
    @section CustomScripts{
    <script src="~/js/widgets.bundle.js"></script>
    <script src="~/js/custom/widgets.js"></script>
    <!--begin::Vendors Javascript(used for this page only)-->
    <script src="~/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Vendors Javascript-->
    <script src="~/js/custom/AdSpyListCustom.js"></script>

}
    @section CustomHeader{
    <!--begin::Header-->
    <div id="kt_app_header" class="app-header" data-kt-sticky="true" data-kt-sticky-activate="{default: true, lg: true}" data-kt-sticky-name="app-header-minimize" data-kt-sticky-offset="{default: '200px', lg: '300px'}" data-kt-sticky-animation="false">
        <!--begin::Header container-->
        <div class="app-container container-xxl d-flex align-items-center justify-content-between" id="kt_app_header_container">
            <!--begin::Header wrapper-->
            <div class="app-header-wrapper d-flex flex-grow-1 align-items-stretch justify-content-between" id="kt_app_header_wrapper">
                <!--begin::Menu wrapper-->
                <div class="app-header-menu app-header-mobile-drawer align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="{default: 'append', lg: 'prepend'}" data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
                    <!--begin::Menu-->
                    <div class="menu menu-rounded menu-active-bg menu-state-primary menu-column menu-lg-row menu-title-gray-700 menu-icon-gray-500 menu-arrow-gray-500 menu-bullet-gray-500 my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0" id="kt_app_header_menu" data-kt-menu="true">
                        <!--Begin Menu Item-->
                        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class=" here menu-item menu-lg-down-accordion me-lg-1">
                            <!--begin:Menu link-->
                            <span class="menu-link">
                                <span class="menu-title">Ad Spy</span>
                                <span class="menu-arrow d-lg-none"></span>
                            </span>
                            <!--end:Menu link-->
                            <!--begin:Menu sub-->
                            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-200px">
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link active" href="/AdSpy">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">Ad Spy</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                            </div>
                            <!--end:Menu item-->
                        </div>
                        <!--end:Menu sub-->
                        <!--Begin Menu Item-->
                        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
                            <!--begin:Menu link-->
                            <span class="menu-link">
                                <span class="menu-title">Save List Ad Spy</span>
                                <span class="menu-arrow d-lg-none"></span>
                            </span>
                            <!--end:Menu link-->
                            <!--begin:Menu sub-->
                            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-200px">
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="/SaveListAdSpy">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">Save List</span>
                                    </a>
                                    <!--end:Menu link-->
                                    <!--end:Menu item-->
                                </div>
                            </div>
                            <!--end:Menu sub-->
                        </div>
                        <!--end Menu Item-->
                    </div>
                    <!--end::Menu-->
                </div>
                <!--end::Menu wrapper-->
            </div>
            <!--end::Header wrapper-->
        </div>
        <!--end::Header container-->
    </div>
    <!--end::Header-->
    }
    @section CustomPageTitle{
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-xxl">
            <!--begin::Toolbar container-->
            <div class="d-flex flex-stack flex-row-fluid">
                <!--begin::Toolbar container-->
                <div class="d-flex flex-column flex-row-fluid">
                    <!--begin::Toolbar wrapper-->
                    <!--begin::Page title-->
                    <div class="page-title gap-4 me-3 mb-5 mb-lg-0">
                        <!--begin::Title-->
                        <h1 class="text-gray-900 fw-bolder mb-3 fs-2x">
                            Ad Spy
                            <i class="ki-duotone ki-pin fs-2" style="color: #ff0000ad;">
                                <i class="path1"></i>
                                <i class="path2"></i>
                            </i>
                        </h1>
                        <!--end::Title-->
                        <div class="d-flex align-items-center">
                            <!--begin::Breadcrumb-->
                            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-base">
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                    <a href="" class="text-hover-primary">
                                        <i class="ki-duotone ki-home text-gray-700 fs-6"></i>
                                    </a>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item">
                                    <i class="ki-duotone ki-right fs-7 text-gray-700 mx-n1"></i>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Ad Spy</li>
                                <!--end::Item-->
                            </ul>
                            <!--end::Breadcrumb-->
                        </div>
                    </div>
                    <!--end::Page title-->
                </div>
                <!--end::Toolbar container-->
            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    }
    <div id="kt_app_content_container" class="app-container">
        <!--begin::Card-->
        <div class="card shadow-sm w-100">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5"><span class="path1"></span><span class="path2"></span></i>
                        <input value="@(value)" type="text" id="keywordSearch" data-kt-rule-table-filter="search" class="form-control form-control-solid w-250px ps-13" placeholder="Search Content">
                        <button id="searchButton" class="btn btn-primary">
                            <span class="indicator-label">Search</span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                        <script>
                            document.getElementById("searchButton").addEventListener("click", e => {
                                console.log(e.currentTarget);
                                e.currentTarget.setAttribute('data-kt-indicator', 'on');
                                e.currentTarget.disabled = true;
                                window.location.href = `/AdSpy/Search?keyword=` + document.getElementById("keywordSearch").value;
                            })
                        </script>
                    </div>
                    <!--end::Search-->
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body">
                <div class="container container-fluid row no-gutters">
                    <table class="table align-middle table-row-dashed gy-5 dataTable no-footer" id="table_adspy_post">
                        <thead>
                            <tr class="fw-semibold fs-6 text-gray-800">
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                            var numberRow = Math.Ceiling(((double)AdsList.Count) / numberPostOnRow);
                        }
                        @for (int i = 0; i < numberRow; i++)
                        {
                            <tr class="odd">
                                @for (int j = 0; j < @Math.Min(numberPostOnRow, AdsList.Count - i * numberPostOnRow); j++)
                                {
                                    var post = AdsList[i * numberPostOnRow + j];
                                    <td class="column" data-bs-toggle="modal" data-bs-target="#kt_show_post_modal_@(post.Id)">
                                        <div class="card card-flush mx-4">
                                            <img src="@post.ImageURL" class="card-img-top" alt="User Image">
                                            <div class="card-body">
                                                <h5 class="card-title">@post.Name</h5>
                                                <p class="card-text fs-8">@post.CreateAt</p>
                                                <span class="text-center fw-bold">
                                                    @{
                                                        var content = post.Content;
                                                        if (content.Length < 200)
                                                        {
                                                            @Html.Raw(content)
                                                            for (int c = content.Length + 1; c <= 230; c++)
                                                            {
                                                                @Html.Raw("&nbsp;")
                                                                ;
                                                            }
                                                        }
                                                        else
                                                        {
                                                            content = content.Substring(0, 197);
                                                            content += "...";
                                                            @Html.Raw(content)
                                                        }
                                                    }
                                                </span>
                                                <p class="card-text">
                                                    <span class="text-primary">
                                                        <i class="fas fa-thumbs-up emoji fs-3 text-primary"></i> @post.NumberLike
                                                    </span>
                                                    <i class="fas fa-share emoji"></i>  @post.NumberShare
                                                    <i class="fas fa-comment emoji"></i> @post.NumberComment
                                                </p>
                                                <br />
                                                <button redirectUrl="@(post.Url)" class="btn btn-primary openPageBtn">View Page</button>
                                                <button postId="@post.Id" class="btn btn-success savePostBtn">Save Post</button>
                                            </div>
                                        </div>
                                    </td>
                                }
                                @for (int j = @Math.Min(numberPostOnRow, AdsList.Count - i * numberPostOnRow); j < numberPostOnRow; j++)
                                {
                                    <td></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
</div>
<script>
    var btnRedirect = document.querySelectorAll(".openPageBtn");
    btnRedirect.forEach(btn => {
        let url = btn.getAttribute("redirectUrl");
        btn.addEventListener("click", e => window.open(url));
    })
</script>

<script>
    var savePostBtn = document.querySelectorAll(".savePostBtn");
    savePostBtn.forEach(btn => {
        btn.addEventListener("click", e => {
            let pageId = btn.getAttribute("postId");
            setTimeout(e => {
                Swal.fire({
                    icon: "success",
                    title: "<strong>Save Post</strong>",
                    text: "Save Post thành công!",
                    confirmButtonText: "Ok, got it!"
                }).then(function (result) {
                    if (result.isConfirmed) {
                        window.location.href = `/AdSpy/AddPost?postId=` + pageId;
                    }
                });
            }, 1000)
        });
    })
</script>

@foreach (var post in AdsList)
{
    @Html.Partial("../Shared/_showPostPartial",post)
}